#sideBar {
    height: 100vh;
    padding-top: 80px;
    position: fixed;
    background-color: var(--primary-color);
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

#dashboard {
    margin-left: 16vw;
    padding: 24px;
    min-height: 100vh;
}