<ul class="nav nav-pills flex-column">
    <div class="title-text">
        <h1 class="title" href="">BIOSAT</h1>
        <h6 class="subtitle">Dashboard</h6>
    </div>
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard"><i class="bi bi-view-stacked"></i> Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/servicos"><i class="bi bi-radar"></i> Serviços</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/agenda"><i class="bi bi-calendar-week"></i> Agenda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/clientes"><i class="bi bi-people"></i> Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/graficos"><i class="bi bi-bar-chart"></i> Gráficos</a>
    </li>
</ul>