@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #6B7280;
    --terciary-color: #005B96;
    --background-color: #D9D9D9;
}


* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    color: #000000;
    height: 100%;
    letter-spacing: 0.5px;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}

.section-container {
    padding: 30px;
}

.card-theme {
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
}

.card-heading-theme{
    color: var(--background-color);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 12px;
}

.card-body-theme{
    background-color: var(--background-color);
}

.cards {
    display: flex;
    flex-direction: column;
}
