@import "bootstrap/dist/css/bootstrap.min.css";

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #D9D9D9;
}


*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #D9D9D9;
    color: #000000;
    height: 100%;
}

a{
    color: #111111;
}

.shadow{
     box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
}

.section-container{
    padding: 30px;
}